.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
  color: #ffffffe0;
  font-size: 1.2rem;
}

.link {
  margin-top: 0.3rem;
  text-decoration: none;
  color: #979797;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: #dbdbdb;
  }
}
