.root_app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: #1b1d22;
}

.root_main {
  display: flex;
  overflow: hidden;
  margin: 0 2.5rem 2.5rem;
  height: 100%;
}

.root_main_content {
  position: relative;
  flex-grow: 1;
  width: 75vw;
  overflow: auto;
  min-height: 100%;
  margin: 0 0 2.5rem 3.125rem;
  background-color: #2a2e36;
  border-radius: 1rem;
}

@media (max-width: 710px) {
  .root_main {
    margin: 0 1.25rem 1.25rem;
  }

  .root_main_content {
    margin: 0 0 2.5rem 0;
  }
}
